<div id="data">
<% if @repos.present? %>
<div class="row" id="clear_github">
<div class="col-md-6">
<%= image_tag @data["avatar_url"] %><br/>
<strong>Name: </strong><%= @data["name"] %><br/>
  <strong>Following: </strong><%= @data["following"] %><br/>
  <strong>Followers:</strong><%= @data["followers"] %><br/>
  <strong>Public Repos:</strong> <%= @data["public_repos"] %><br/>
</div>
<div class="col-md-6">
  <% @repos.each do |rep| %>
   <div class="panel panel-default panelshadow">
      <div class="panel-heading"><%= link_to rep["name"], rep["html_url"], :target => "_blank" %></div>
      <div class="panel-body">
      <span class="label label-primary">Stars: <%= rep["stargazers_count"] %></span>
      <span class="label label-success">Issues: <%= rep["open_issues_count"] %></span>&nbsp;
      <span class="label label-danger"><%= rep["language"] %></span>
      <span class="label label-warning">Forks: <%= rep["forks"] %></span>&nbsp;
      </div>
    </div>

  <% end %>
   </div>
  
</div>
<% else %>
No Data found....
<% end %>
</div>